asgiref==3.7.2
    # via
    #   channels
    #   django
attrs==23.1.0
    # via
    #   jsonschema
    #   referencing
certifi==2023.11.17
    # via requests
cffi==1.16.0
    # via cryptography
channels==4.0.0
    # via -r requirements/requirements_channel_auth.in
charset-normalizer==3.3.2
    # via requests
cryptography==41.0.7
    # via
    #   -r requirements/requirements.in
    #   social-auth-core
defusedxml==0.8.0rc2
    # via
    #   python3-openid
    #   social-auth-core
django==4.2.8
    # via
    #   -r requirements/requirements.in
    #   channels
    #   django-auth-ldap
    #   django-crum
    #   djangorestframework
    #   drf-spectacular
    #   social-auth-app-django
django-auth-ldap==4.6.0
    # via -r requirements/requirements_authentication.in
django-crum==0.7.9
    # via -r requirements/requirements.in
django-split-settings==1.2.0
    # via -r requirements/requirements.in
djangorestframework==3.14.0
    # via
    #   -r requirements/requirements.in
    #   drf-spectacular
drf-spectacular==0.27.0
    # via -r requirements/requirements_swagger.in
idna==3.6
    # via requests
inflection==0.5.1
    # via
    #   -r requirements/requirements.in
    #   drf-spectacular
isodate==0.6.1
    # via python3-saml
jsonschema==4.20.0
    # via drf-spectacular
jsonschema-specifications==2023.11.2
    # via jsonschema
lxml==4.9.3
    # via
    #   python3-saml
    #   xmlsec
oauthlib==3.2.2
    # via
    #   requests-oauthlib
    #   social-auth-core
pyasn1==0.5.1
    # via
    #   pyasn1-modules
    #   python-ldap
pyasn1-modules==0.3.0
    # via python-ldap
pycparser==2.21
    # via cffi
pyjwt==2.8.0
    # via social-auth-core
python-ldap==3.4.4
    # via
    #   -r requirements/requirements_authentication.in
    #   django-auth-ldap
python3-openid==3.2.0
    # via social-auth-core
python3-saml==1.16.0
    # via -r requirements/requirements_authentication.in
pytz==2023.3.post1
    # via djangorestframework
pyyaml==6.0.1
    # via drf-spectacular
referencing==0.32.0
    # via
    #   jsonschema
    #   jsonschema-specifications
requests==2.31.0
    # via
    #   requests-oauthlib
    #   social-auth-core
requests-oauthlib==1.3.1
    # via social-auth-core
rpds-py==0.15.2
    # via
    #   jsonschema
    #   referencing
six==1.16.0
    # via isodate
social-auth-app-django==5.4.0
    # via -r requirements/requirements_authentication.in
social-auth-core==4.5.1
    # via social-auth-app-django
sqlparse==0.4.4
    # via django
tabulate==0.9.0
    # via -r requirements/requirements_authentication.in
uritemplate==4.1.1
    # via drf-spectacular
urllib3==2.1.0
    # via requests
xmlsec==1.3.13
    # via python3-saml
