asgiref==3.8.1
    # via
    #   -c requirements_all.txt
    #   django
attrs==24.2.0
    # via
    #   -c requirements_all.txt
    #   jsonschema
    #   referencing
django==4.2.14
    # via
    #   -c requirements_all.txt
    #   djangorestframework
    #   drf-spectacular
djangorestframework==3.15.1
    # via
    #   -c requirements_all.txt
    #   drf-spectacular
drf-spectacular==0.26.5
    # via
    #   -c requirements_all.txt
    #   -r requirements/requirements_api_documentation.in
inflection==0.5.1
    # via
    #   -c requirements_all.txt
    #   drf-spectacular
jsonschema==4.23.0
    # via
    #   -c requirements_all.txt
    #   drf-spectacular
jsonschema-specifications==2023.12.1
    # via
    #   -c requirements_all.txt
    #   jsonschema
pyyaml==6.0.2
    # via
    #   -c requirements_all.txt
    #   drf-spectacular
referencing==0.35.1
    # via
    #   -c requirements_all.txt
    #   jsonschema
    #   jsonschema-specifications
rpds-py==0.20.0
    # via
    #   -c requirements_all.txt
    #   jsonschema
    #   referencing
sqlparse==0.5.1
    # via
    #   -c requirements_all.txt
    #   django
uritemplate==4.1.1
    # via
    #   -c requirements_all.txt
    #   drf-spectacular
