cryptography
Django>=4.2.5,<4.3.0
djangorestframework
django-crum
django-filter
drf-spectacular
inflection
tabulate

# LDAP Authenticator Plugins
django-auth-ldap
python-ldap

# Social Authenticator Plugins
social-auth-app-django
python3-saml

# OAuth2 Server
django-oauth-toolkit>=1.7.1 # This is pinned this way so that DAB is compatable with AWX
