social - auth - app - django
tabulate

# These should eventually be split out when the authentications move into their own repo

# LDAP Authenticator Plugins
django - auth - ldap
python - ldap

# Social Authenticator Plugins
python3-saml
tacacs_plus
