ansible  # Used in build process to generate some configs
build
Django==4.2.16
django-debug-toolbar
django-extensions
djangorestframework
django-split-settings
ipython
tox
tox-docker
typeguard
pytest
pytest-asyncio
pytest-xdist
pytest-cov
pytest-django
setuptools-scm
sqlparse==0.5.0
psycopg[binary]
sdb
