certifi==2024.7.4
    # via requests
charset-normalizer==3.3.2
    # via requests
idna==3.8
    # via requests
pyjwt==2.9.0
    # via -r /Users/jowestco/GIT/github/john-westcott-iv/aap-gateway/django-ansible-base/requirements/requirements_jwt_consumer.in
requests==2.32.3
    # via -r /Users/jowestco/GIT/github/john-westcott-iv/aap-gateway/django-ansible-base/requirements/requirements_jwt_consumer.in
urllib3==2.2.2
    # via requests
