ansible  # Used in build process to generate some configs
build
Django>=4.2.5,<4.3.0
django-debug-toolbar
django-extensions<=3.2.3
djangorestframework<=3.15.1
django-split-settings<=1.2.0
ipython
tox
typeguard
pytest
pytest-asyncio
pytest-xdist
pytest-cov
pytest-django
setuptools-scm
psycopg[binary]<=3.1.17
sdb
