certifi==2024.7.4
    # via
    #   -c requirements_all.txt
    #   requests
charset-normalizer==3.3.2
    # via
    #   -c requirements_all.txt
    #   requests
idna==3.8
    # via
    #   -c requirements_all.txt
    #   requests
pyjwt==2.7.0
    # via
    #   -c requirements_all.txt
    #   -r requirements/requirements_jwt_consumer.in
requests==2.31.0
    # via
    #   -c requirements_all.txt
    #   -r requirements/requirements_jwt_consumer.in
urllib3==2.2.2
    # via
    #   -c requirements_all.txt
    #   requests
