ansible                 # Used in build process to generate some configs
black==25.1.0           # Linting tool, if changed update pyproject.toml as well
build
django==4.2.21
django-debug-toolbar
django-extensions
djangorestframework
flake8==7.1.1           # Linting tool, if changed update pyproject.toml as well
Flake8-pyproject==1.2.3 # Linting tool, if changed update pyproject.toml as well
ipython
isort==6.0.0            # Linting tool, if changed update pyproject.toml as well
tox
tox-docker
typeguard
pytest
pytest-asyncio
pytest-xdist
pytest-cov
pytest-django
setuptools-scm
sqlparse==0.5.2
psycopg[binary]
sdb
