asgiref==3.8.1
    # via
    #   -c requirements_all.txt
    #   channels
    #   django
channels==4.1.0
    # via
    #   -c requirements_all.txt
    #   -r requirements/requirements_channels.in
django==4.2.14
    # via
    #   -c requirements_all.txt
    #   channels
sqlparse==0.5.1
    # via
    #   -c requirements_all.txt
    #   django
