social-auth-app-django==5.4.1
social-auth-core<=4.5.4
tabulate

# These should eventually be split out when the authentications move into their own repo

# LDAP Authenticator Plugins
django-auth-ldap
python-ldap
ldap-filter

# Social Authenticator Plugins
python3-saml
tacacs_plus

xmlsec==1.3.13 # Pin for https://github.com/xmlsec/python-xmlsec/issues/314

# RADIUS Authenticator Plugin
pyrad
