asgiref==3.8.1
    # via django
attrs==24.2.0
    # via
    #   jsonschema
    #   referencing
django==5.1
    # via
    #   djangorestframework
    #   drf-spectacular
djangorestframework==3.15.2
    # via drf-spectacular
drf-spectacular==0.27.2
    # via -r /Users/jowestco/GIT/github/john-westcott-iv/aap-gateway/django-ansible-base/requirements/requirements_api_documentation.in
inflection==0.5.1
    # via drf-spectacular
jsonschema==4.23.0
    # via drf-spectacular
jsonschema-specifications==2023.12.1
    # via jsonschema
pyyaml==6.0.2
    # via drf-spectacular
referencing==0.35.1
    # via
    #   jsonschema
    #   jsonschema-specifications
rpds-py==0.20.0
    # via
    #   jsonschema
    #   referencing
sqlparse==0.5.1
    # via django
uritemplate==4.1.1
    # via drf-spectacular
