asgiref==3.8.1
    # via
    #   -c requirements_all.txt
    #   django
certifi==2024.7.4
    # via
    #   -c requirements_all.txt
    #   requests
cffi==1.17.0
    # via
    #   -c requirements_all.txt
    #   cryptography
charset-normalizer==3.3.2
    # via
    #   -c requirements_all.txt
    #   requests
cryptography==42.0.5
    # via
    #   -c requirements_all.txt
    #   jwcrypto
django==4.2.14
    # via
    #   -c requirements_all.txt
    #   django-oauth-toolkit
django-oauth-toolkit==2.3.0
    # via
    #   -c requirements_all.txt
    #   -r requirements/requirements_oauth2_provider.in
idna==3.8
    # via
    #   -c requirements_all.txt
    #   requests
jwcrypto==1.5.6
    # via
    #   -c requirements_all.txt
    #   django-oauth-toolkit
oauthlib==3.2.2
    # via
    #   -c requirements_all.txt
    #   django-oauth-toolkit
pycparser==2.22
    # via
    #   -c requirements_all.txt
    #   cffi
requests==2.31.0
    # via
    #   -c requirements_all.txt
    #   django-oauth-toolkit
sqlparse==0.5.1
    # via
    #   -c requirements_all.txt
    #   django
typing-extensions==4.12.2
    # via
    #   -c requirements_all.txt
    #   jwcrypto
urllib3==2.2.2
    # via
    #   -c requirements_all.txt
    #   requests
