asgiref==3.8.1
    # via django
django==5.1
    # via django-redis
django-redis==5.4.0
    # via -r /Users/jowestco/GIT/github/john-westcott-iv/aap-gateway/django-ansible-base/requirements/requirements_redis_client.in
redis==5.0.8
    # via
    #   -r /Users/jowestco/GIT/github/john-westcott-iv/aap-gateway/django-ansible-base/requirements/requirements_redis_client.in
    #   django-redis
sqlparse==0.5.1
    # via django
